.task {
  padding: 16px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 5% 90% 5%;
  gap: 12px;

  border-radius: 8px;
  border: 1px solid var(--gray-400, #333);
  background: var(--gray-500, #262626);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}

.titleChecked {
  text-decoration: line-through;
  color: var(--gray-300);
}

.delete {
  cursor: pointer;
}