.tasksContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.form input {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
