.form {
  margin-top: -30px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

input {
  width: 663px;
}

.list {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}